.pageError {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font: var(--font-l);
    color: crimson;
    margin-bottom: 20px;
  }
}
